[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/banna12345bob/glfw/
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm/
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/banna12345bob/imgui/
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json/
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog/
[submodule "vendor/zipFile"]
	path = vendor/zipFile
	url = https://github.com/tfussell/miniz-cpp/
